.tablero-botones .uk-button {
    padding: 14px 30px;
}

.tablero-botones button {
    font-size: 30px;
}

.calculadoda-global .uk-table td {
    padding: 2px 1px;
    vertical-align: top;
}

.calculadoda-global .tablero-botones .punto-sty {
    padding: 14px 34px;
}

.calculadoda-global .tablero-botones .signo-igual {
    padding: 14px 28px;
}

.calculadoda-global .tablero-botones .signo-mas {
    padding: 14px 26.6px;
}

.tablero-botones button:hover {
    background: #f7f7f7;
}

.calculadoda-global .uk-margin-auto-vertical {
    margin-top: 90px !important;
}

.calculadoda-global .tablero-botones .signo-menos {
    padding: 14px 31px;
}